h1{
    text-align: center;
    background: black;
    padding: 12px;
    color: white;
    margin: 8px 0;
}

body { margin: 0px;}

a {
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    1border: 5px solid black;
    1border-radius: 12px;
    padding: 12px;
    min-height: calc(100vh - 40px - 24px - 16px -  10px - 8px); /* h1 - h1 padding - h1 margin - dflex border - dlex margin bootom set*/
}

    .flex a {
        1border: 2px solid black;
        text-align: center;
        1background: black;
        color: black;
        width: calc((100vw - 24px)/9 - 8px);
        padding: 4px;
        margin: 4px;
    }
    
    .flex a:hover { background: lightblue; border-radius: 8px;}
    .flex a:hover img{ transform: scale(1.1); }
    .flex a:hover h6 { font-weight: bold;}

        .flex a img {
            width: 80px; 
            border: 2px solid purple; 
            background: black; 
            margin-top: 8px;
            border-radius: 0px 36px 0;
            box-shadow: 2px 2px 2px purple;
        }

@media only screen and (max-width: 992px) {
    .flex a{
        width: calc((100vw - 24px)/7 - 8px);
    }
}

@media only screen and (max-width: 768px) {
    .flex a{
        width: calc((100vw - 24px)/5 - 8px);
    }
}

@media only screen and (max-width: 576px) {
    .flex a{
        width: calc((100vw - 24px)/3 - 8px);
    }  
}

@media only screen and (max-width: 360px) {
    .flex a{
        width: calc((100vw - 24px)/2 - 8px);
    }
}

